<template name="ApplicationLayout">
<head>
   <title>CHat-Omatic Don't Panic</title>
</head>

<body>
    <h1>CHat-Omatic Don't Panic</h1>
    {{> loginButtons}}
     <hr/>
     {{> yield}}
</body>
</template>

<template name="welcome">
    {{#if currentUser}}
    <h2>Welcome!</h2>
        <form class="name-form">
       <input type="text" name="firstname">
        <input type="submit">
    </form>
    <ul>
    {{#each posts}}
        <li><a herf="/post/{{_id}}">{{name}}</a></li>
        {{/each}}
    </ul>
    {{else}}
    <h2>please log in</h2>
    {{/if}}

</template>

<template name="post">
    <h2 class="post-class">{{name}}</h2>
</template>